.inspector-footer(ng-if="Inspector.length > 0", ng-class="{contracted: inspectorContracted}")
  .row-toggle(update-ui='inspectorChanged', overflow-with-toggle='', ng-click="inspectorContracted = !inspectorContracted")
    .fa(ng-class="inspectorContracted ? 'fa-caret-left' : 'fa-caret-down'", class="overflow-indicator")
  ul.list-unstyled.list-items
    li.inspector-footer-row(ng-repeat="row in Inspector.items", ng-include="row.tmpl", onload ="item = row.data")

.inspector-footer(ng-if="Inspector.length == 0")
  .inspector-footer-row
            span(class="pull-right", style="padding:10px;") This is the meta representation of your graph
    .actions.status-bar-actions
